<?xml version="1.0" encoding="utf-8"?>
  <configuration>
    <appSettings>
      <add key="LogoUserName" value="/+A6i26OstPDBBK6338R+cTlLxJZfLZ/Gz164sWO2oVadSONzW0Lll4VUOsnDufAAyo5wRNmJQuKzft1VM5P4SBp18K8024OSyD9Mlfy1xxMOCTAd+wz8oBhopEgdKp2" />
      <add key="LogoUserPassword" value="zYDfFIkXQZFv/U7URVKkPao1RpQLuZJJNTPURGJwTStSOTkgFrZQKOekYXHxKJmQhXVIAcs6VqS+GIK3ctxfRejDSBVQ+dj2kI7JSI7gygkIzgF7aGu/s6kPu8PSRhJY" />
      <add key="LogoFirmNumber" value="998" />
      <add key="LogoFirmPeriod" value="01" />
      <add key="ConnectionString" value="Xv32q9LUmmRFU8zjLUjCgLXHDrx9TwzPKyuZci3cZDK1YAokPAv2g7IAJF7RGqHLHnCh50vfDlY9dAHDJ+C3WVYofSQM32DmzonORAQzyXw2Y+wNm0vrwKEu/6RShXBA"/>
    </appSettings>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
      <httpRuntime />
    </system.web>

  <!--ProjectGuid: A8F5DB0F-8B86-4B65-8406-5317484473C9-->
  
  <system.webServer>
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>